.loading{
    position: fixed;
    z-index: 99;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 100%, 0.50);
}

.loading>.circle{
    width: 50px;
    height: 50px;
    background: none;
    border-top: 6px solid var(--primary);
    border-right: 6px solid var(--neutral-70);
    border-bottom: 6px solid var(--primary);
    border-left: 6px solid var(--primary);
    border-radius: 100%;

    animation: loading .8s infinite;
}

@keyframes loading {
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}






.fromRight {
    animation: fromRight .5s;
}

.fromLeft {
    animation: fromLeft .5s;
}

.toTop {
    animation: toTop .7s;
}

.toBottom {
    animation: toBottom .5s;
}

.bounce {
    animation: bounce .5s infinite;
}

@keyframes bounce {
    0%{
        transform: scale(1);
    }

    30%{
        transform: scale(1.15) rotate(10deg);
    }

    60%{
        transform: scale(1) rotate(-10deg);
    }

    90%{
        transform: scale(1.15) rotate(-10deg);
    }
}

@keyframes fromRight {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }
}


@keyframes fromLeft {
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }
}

@keyframes toTop {
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(0%);
    }
}

@keyframes toBottom {
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0%);
    }
}
