.profile-content {
    display: flex;
    /* justify-content: space-between; */
}

.profile-title {
    display: block;
    padding: ;
    margin-bottom: 15px;
}

.profile-card {
    background-color: var(--neutral-100);
    padding: 15px;
    border-radius: 8px;
    border: 1px solid var(--neutral-90);
    /* box-shadow: 0px 0px 8px 0px hsla(0, 0%, 0%, 0.05); */

}

.profile-info {
    padding: 0px 0px 0px 20px;
}

.text-info {
    display: block;
    padding: 8px;
}

.foto {
    width: 25%;
    height: 100%;
    background-color: var(--neutral-90);
    border-radius: 100px;
}



.card-order {
    display: block;
    width: 100%;
    background-color: var(--neutral-100);
    padding: 15px;
    /* box-shadow: 0px 0px 8px 0px hsla(0, 0%, 0%, 0.05); */
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid var(--neutral-90);
}

.card-order .card-title {
    display: block;
    padding: 15px 0px 20px;
    width: 100%;
    /* color: var(--neutral-100); */
    /* background-color: var(--primary); */
    border-radius: 15px 15px 0px 0px;
}


.card-order .order-data {
    width: 100%;
}

.card-order .table-container table {
    width: 100%;
}

.card-order .card-controll {
    /* display: block; */
    width: 100%;
    padding: 20px 0px 0px;
}

.total {
    background-color: hsla(218, 95%, 95%);
}


/* MESSAGES */

.message{
    position: fixed;
    z-index: 94;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 80%;
    height: max-content;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.10);
    text-align: center;
    line-height: 1.1em;
    /* font-size: medium; */
    font-weight: 600;

    animation: message .3s;
}

.message.success{
    border: 2px solid var(--primary);
    background-color: var(--neutral-100);
}

.message.error{
    border: 2px solid crimson;
    background-color: var(--neutral-100);
}

@keyframes message {
    0%{
        transform: translate(-50%, -100%) scaleX(0);
    }

    100%{
        transform: translateY(-50%, 0) scaleX(1);
    }
}



/* MODAL */

.modal{
    display: none;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    /* height: 100%; */
    background-color: var(--neutral-100);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.1);
}

/* .modal::before{
    content: '';
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.15);
    position: fixed;
    z-index: 998;
} */


.modal textarea{
    height: 40vh;
}

.modal .close{
    cursor: pointer;
}

.box-after-gradation{
    position: relative;
}

.box-after-gradation::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to top, hsla(0, 0%, 100%, 0.7), hsla(0, 0%, 100%, 0));
}
