:root {
    --primary: hsl(218, 95%, 48%);
    --secondary: hsl(46, 100%, 50%);
    --bg-soft: hsl(200, 100%, 97%);

    --neutral-100: hsl(0, 0%, 100%);
    --neutral-90: hsl(0, 0%, 90%);
    --neutral-80: hsl(0, 0%, 80%);
    --neutral-70: hsl(0, 0%, 70%);
    --neutral-60: hsl(0, 0%, 60%);
    --neutral-50: hsl(0, 0%, 50%);
    --neutral-40: hsl(0, 0%, 40%);
    --neutral-30: hsl(0, 0%, 30%);
    --neutral-20: hsl(0, 0%, 20%);
    --neutral-10: hsl(0, 0%, 10%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: var(--neutral-20);
}

.star {
    color: var(--secondary);
}

a {
    text-decoration: none;
}

a.primary {
    color: var(--primary);
}

a.off {
    display: none;
}

a.on {
    display: inline;
}

.pending {
    display: inline-block;
    padding: 4px 6px;
    background-color: hsla(46, 100%, 50%, 0.4);
    border: 1px solid hsla(46, 100%, 50%);
    border-radius: 15px;
    font-weight: 500;
}

.ordered {
    display: inline-block;
    padding: 4px 6px;
    background-color: hsla(218, 95%, 80%, 0.4);
    border: 1px solid hsla(218, 95%, 80%);
    border-radius: 15px;
    font-weight: 500;
}


.box-link {
    display: inline-block;
    padding: 20px 10px;
    color: var(--neutral-50);
    font-weight: 500;
    font-size: medium;
}

.box-link.active {
    border-bottom: 4px solid var(--primary);
    font-weight: bold;
    color: var(--neutral-20);
}

.cart-link {
    /* position: fixed;
    z-index: 97;
    top: 15%;
    right: 3%; */
    background-color: var(--primary);
    padding: 5px;
    width: max-content;
    border-radius: 10px;
    color: var(--neutral-100);
    font-size: 1.5em;
    border: 3px solid var(--primary);
}

/* .cart-link:hover {
    background-color: var(--neutral-100);
} */

.top-navbar {
    position: sticky;
    top: 0;
    z-index: 98;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 40px;
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-90);
    /* box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.15); */
}

.top-navbar .logo {
    padding: 20px 0px;
    margin-right: 20px;
}

.top-navbar .bullet{
    position: absolute;
    z-index: 8;
    background-color: crimson;
    border-radius: 100px;
    padding: 8px;
    top: 65%;
    right: 3%;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    z-index: 98;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* width: 100%; */
    padding: 15px 40px;
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-90);
}

.logout {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.trigger {
    padding: 10px 10px 10px 0px;
    display: none;
}


section {
    position: relative;
}

section.flex {
    display: flex;
    width: 100%;
}

footer {
    background-color: var(--primary);
    /* height: 400px; */
    width: 100%;
    padding: 20px;
}

footer *{
    color: var(--neutral-100);
}

.block{
    display: block;
}

.flex {
    display: flex;
}

.fd-column {
    flex-direction: column;
}

.flex.align-top {
    align-items: start;
}

.flex.align-center {
    align-items: center;
}

.flex.align-bottom {
    align-items: last baseline;
}

.flex-start {
    justify-content: start;
}

.flex-end {
    justify-content: end;
}

.flex-between {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.inline {
    display: inline;
}

.gap10 {
    gap: 10px;
}

.gap15 {
    gap: 15px;
}

.gap20 {
    gap: 20px;
}

.gap25 {
    gap: 25px;
}

.gap30 {
    gap: 30px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb40 {
    margin-bottom: 40px;
}

.text-large {
    font-size: xx-large;
}

.text-medium {
    font-size: larger;
}

.text-small {
    font-size: small;
}

.text-bold {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-white {
    color: var(--neutral-100);
}

.text-nowrap {
    text-wrap: nowrap;
}

.overflow {
    overflow: auto;
}

.overflow-y {
    overflow-y: auto;
}

.overflow-x {
    overflow-x: auto;
}

.font-sb {
    font-weight: 500;
}

.w50 {
    width: 50%;
}

.w100 {
    width: 100%;
}

.wmax {
    width: max-content;
}

.sidebar {
    display: none;
}

input {
    border: 1px solid var(--primary);
    background: none;
    outline: none;
    border-radius: 8px;
    padding: 10px;
    display: block;
    width: 100%;
}

input:focus,
.textarea1:focus {
    outline: 2px solid hsla(218, 95%, 80%);
}

select option {
    background-color: var(--neutral-100);
}

.file {
    display: none;
}

/* input[type='submit']{
    background-color: var(--primary);
    color: var(--neutral-100);
}

input[type='submit']:hover{
    background-color: hsl(218, 95%, 80%);
    border: 1px solid hsla(218, 95%, 80%);
} */

.textarea1 {
    display: block;
    width: 100%;
    border: 1px solid var(--primary);
    margin: 10px 0px;
    height: 100px;
    padding: 10px;
    resize: none;
    border-radius: 8px;
}

.btn-primary {
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: var(--neutral-100);
    padding: 10px;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    text-wrap: nowrap;
    font-weight: 600;
}


.btn-primary-soft {
    background-color: hsla(218, 95%, 48%, 0.15);
    border: 1px solid var(--primary);
    color: var(--primary);
    font-weight: 500;
    padding: 10px;
    border-radius: 20px;
    padding: 10px;
    /* cursor: pointer; */
    text-wrap: nowrap;
}

.btn-red-soft {
    background-color: hsla(348, 83%, 47%, 0.15);
    border: 1px solid crimson;
    color: crimson;
    font-weight: 500;
    padding: 10px;
    border-radius: 20px;
    padding: 10px;
    /* cursor: pointer; */
    text-wrap: nowrap;
}

.btn-green-soft {
    background-color: hsla(146, 50%, 36%, 0.15);
    border: 1px solid seagreen;
    color: seagreen;
    font-weight: 500;
    padding: 10px;
    border-radius: 20px;
    padding: 10px;
    /* cursor: pointer; */
    text-wrap: nowrap;
}

.btn-red {
    background-color: crimson;
    border: 1px solid crimson;
    color: var(--neutral-100);
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    text-wrap: nowrap;
    font-weight: 600;
    /* width: max-content; */
}



.badge-sm {
    background-color: hsla(146, 50%, 36%, 0.15);
    border: 1px solid seagreen;
    color: seagreen;
    font-weight: 500;
    font-size: smaller;
    padding: 4px;
    border-radius: 20px;
    padding: 4px;
    /* cursor: pointer; */
    text-wrap: nowrap;
    width: max-content;
}

.action-btn {
    width: 50%;
}


.text-block {
    display: block;
    width: 100%;
    padding: 40px;
    margin: 40px 0px;
}

.title-box {
    display: block;
    padding: 20px 0px;
}

.title-box-l {
    display: block;
    padding: 20px 40px;
}


.content {
    width: 100%;
    /* padding-bottom: 40px; */
    /* padding-bottom: 10%; */
}

.banner {
    width: 100%;
    border-radius: 20px;
    height: 400px;
    padding: 15px;
    position: relative;
    z-index: 1;
    margin-bottom: 10%;
}

.banner img {
    /* width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; */
    border-radius: 20px;
}

.banner1 {
    width: 100%;
    height: 350px;
}

.searchbox1 {
    position: absolute;
    bottom: -28%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: inline-block;
    width: 35%;
    padding: 30px;
    border-radius: 15px;
    background-color: var(--neutral-100);
    box-shadow: 0px 10px 15px 0px hsla(0, 0%, 0%, 0.10);
}

.searchbox1 .title {
    display: block;
    /* padding: 15px 0px; */
    margin-bottom: 15px;
    /* color: var(--neutral-20); */
    font-weight: bold;
}

.searchbox1 input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--neutral-80);
    outline: none;
    font-size: ;
}

.searchbox1 input:focus {
    border: 1px solid var(--primary);
}

.searchbox1 button[type="submit"] {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: ;
    font-weight: bold;
}

.searchbox2 {
    position: sticky;
    top: 64px;
    z-index: 80;
    display: block;
    width: 100%;
    background-color: var(--neutral-100);
    padding: 10px 40px;
}

.searchbox2 button {
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 10px;
}

.container-w1 {
    display: grid;
    grid-template-columns: auto;
    padding: 20px 40px;
    row-gap: 30px;
}

.container-w2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 40px;
    row-gap: 30px;
}

.container-w3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 40px;
    row-gap: 30px;
}

.container-w4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 40px 40px;
    /* margin: 30px 0px; */
    row-gap: 30px;
}

.container-w6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 40px;
    /* margin: 20px 0px; */
    row-gap: 30px;
}

.object-fit {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.box {
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-90);
    padding: 20px;
}

.box.full {
    width: 100%;
}

.box:hover {
    border: none;
    box-shadow: 0px 0px 15px 0px hsla(0, 0%, 0%, 0.10);
}


.menu-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-90);
    transition: ease-out .1s;
    box-shadow: 0px 0px 15px 0px hsla(0, 0%, 0%, 0);
}

.menu-box:hover {
    border: none;
    box-shadow: 0px 0px 15px 0px hsla(0, 0%, 0%, 0.10);
    transform: scale(1.02);
}

.menu-box .gambar {
    width: 100%;
    min-height: 0px;
    height: 200px;
    background-color: var(--neutral-90);
    border-radius: 10px;
}

.menu-box img {
    /* object-fit: cover;
    width: 100%;
    height: 100%; */
    border-radius: 10px;
}

.menu-box .title {

    /* margin-bottom: 10px; */

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

.menu-box .menu-badge {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-menu {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 40px;
}

.back-link {
    display: block;
    width: 100%;
    padding: 20px 40px;
}

/* .detail-title{
    display: block;
    width: 100%;
    padding: 20px 0px;
} */

.detail-gambar {
    width: 160px;
    height: 160px;
    background-color: var(--neutral-90);
    border-radius: 15px;
}

.menu-info {
    width: 100%;
}

.menu-choice {
    padding: 20px 0px;
    width: 50%;
}

.menu-choice button {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid var(--primary);
}

.detail-badge {
    display: flex;
    align-items: center;
    margin: 20px 0px 10px;
    width: 100%;
    height: max-content;
    overflow-x: auto;
}

.badge {
    display: inline-block;
    padding: 10px;
    border-left: 1px solid var(--neutral-80);
    border-right: 1px solid var(--neutral-80);
    min-width: max-content;
    /* width: 100%; */
}

.badge-link {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    font-weight: 500;
    color: var(--primary);
}

.deskripsi-menu {
    display: block;
    width: 100%;
    min-height: 100px;
    height: max-content;
    max-height: 400px;
    overflow-y: auto;
    padding: 15px 0px 25px 0px;
    /* text-align: justify; */
    line-height: 1.5;
    border-bottom: 1px solid var(--neutral-70);
}


.keranjang {
    padding: 0px 0px 80px 0px;
}

.item-order {
    padding: 20px 0px;
    display: flex;
    width: 50%;
    gap: 10px;
}

.item-order input {
    padding: 5px 10px;
    border: 1px solid var(--neutral-20);
}

.item-order>input[type='checkbox'] {
    outline: none;
}

.bottom-button {
    position: fixed;
    z-index: 80;
    bottom: 0;
    left: 0;
    /* left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
    padding: 15px 40px 40px;
    background-color: var(--neutral-100);
    border-top: 1px solid var(--neutral-90);
}

.bottom-button>button {
    padding: 10px;
}

@media screen and (min-width:0px) and (max-width: 500px) {

    .cart-link {
        top: 10%;
        right: 4%;
    }

    .title-box-l {
        padding: 20px;
    }

    h1 {
        font-size: x-large;
    }

    .top-navbar {
        padding: 0px 20px;
    }

    .bottom-button {
        padding-bottom: 40px;
    }

    .bottom-navbar {
        padding: 15px 40px 40px;
    }

    .trigger {
        display: block;
    }

    .action-btn {
        width: 100%;
        font-weight: 500;
    }

    .searchbox2 {
        padding: 10px 20px;
    }


    .sidebar {
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: var(--neutral-100);
        top: 0;
        left: 0;
        z-index: 99;
        transform: translateX(-100%);
        transition: ease-out .2s;
    }

    .sidebar.on {
        transform: translateX(0%);
    }

    .sidebar a {
        display: block;
        width: 100%;
        padding: 15px 40px;
        background-color: hsla(218, 95%, 90%, 0);
    }

    .sidebar a.active {
        background-color: hsla(218, 95%, 90%);
        font-weight: bold;
        color: var(--primary);
    }

    .sidebar .logout {
        display: block;
        width: 100%;
        padding: 15px 40px;
        background: none;
        border: none;
        outline: none;
        font-size: medium;
        cursor: pointer;
        background-color: hsla(348, 83%, 47%, 0);
        color: crimson;
    }

    .sidebar.on .logout:hover {
        background-color: hsla(348, 83%, 47%, 0.15);
    }

    .navigation {
        display: none;
    }

    .searchbox1 {
        width: 85%;
        padding: 20px;
        bottom: -20%;
    }

    .container-w1 {
        width: 100%;
        row-gap: 15px;
        padding: 20px 20px;
    }

    .container-w2 {
        grid-template-columns: 100%;
        padding: 0px 20px;
    }

    .container-w3 {
        grid-template-columns: 100%;
        padding: 0px 20px;
    }

    .container-w4 {
        grid-template-columns: auto;
        padding: 20px;
        gap: 5px;
    }

    .container-w4.w2 {
        grid-template-columns: auto auto;
    }


    .menu-box {
        flex-direction: row;
        align-items: top;
        box-shadow: 0px 0px 15px 0px hsla(0, 0%, 0%, 0);
    }

    .menu-box .gambar {
        height: 100%;
        min-width: 120px;
        width: 120px;
    }

    .item-order {
        width: 100%;
    }

    .container-w6 {
        grid-template-columns: auto auto auto;
        padding: 40px 20px;
    }

    .detail-menu {
        padding: 20px 26px;
    }

    .back-link {
        padding: 20px 26px;
    }

    .detail-menu>.menu-square {
        flex-direction: column !important;
    }

    .menu-choice {
        width: 100%;
    }
}
