:root {
    --primary: hsl(218, 95%, 48%);
    --secondary: hsl(46, 100%, 50%);
    --bg-soft: hsl(200, 100%, 97%);

    --neutral-100: hsl(0, 0%, 100%);
    --neutral-90: hsl(0, 0%, 90%);
    --neutral-80: hsl(0, 0%, 80%);
    --neutral-70: hsl(0, 0%, 70%);
    --neutral-60: hsl(0, 0%, 60%);
    --neutral-50: hsl(0, 0%, 50%);
    --neutral-40: hsl(0, 0%, 40%);
    --neutral-30: hsl(0, 0%, 30%);
    --neutral-20: hsl(0, 0%, 20%);
    --neutral-10: hsl(0, 0%, 10%);

    --body-regular: 16px;
    --regular-height: 24px;

    --body-small: 14px;
    --small: 22px;

    --body-large: 18px;
    --large-height: 28px;

    --caption: 12px;
    --cp-height: 18px;

    --h1: 36px;
    --h1-height: 44px;

    --h2: 30px;
    --h2-height: 40px;

    --h3: 24px;
    --h3-height: 32px;

    --h4: 20px;
    --h4-height: 28px;

    --h5: 18px;
    --h5-height: 26px;

    --h6: 16px;
    --h6-height: 24px;
}

.w50{
    width: 50%;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    transition: ease .3s;
    color: var(--neutral-20);
}

.object-fit {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container {
    display: block;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.container img.object-fit {
    filter: brightness(40%) grayscale(100%);
}

.container video.object-fit {
    filter: brightness(30%) grayscale(100%);
    transform: scale(1.2);
}

.container .form {
    position: absolute;
    z-index: 99;
    height: 100%;
    background-color: white;
    width: 34%;
    top: 0;
    right: 0;
}

.formcs {
    position: absolute;
    z-index: 99;
    height: 100%;
    background-color: white;
    width: 34%;
    top: 0;
    left: 0;
}

.container h1 {
    padding: 10px 0px;
}

.text-small {
    font-size: small;
}

.desc {
    font-size: small;
    margin-top: 10% !important;
}

.input {
    width: 100%;
    padding: 15%;
    /* border-radius: 15px; */
    /* box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2); */
}

input {
    display: block;
    width: 100%;
    border: 2px solid var(--neutral-60);
    /* border-radius: 10px; */
    outline: none;
    background: none;
    padding: 12px 15px;
    margin-top: 15px;
}

input[type=submit] {
    padding: 15px 20px;
    color: white;
    font-weight: bold;
    background-color: var(--primary);
    margin-top: 20px;
    cursor: pointer;
    border: none;
}

input:focus:not(input[type='submit']) {
    /* border-left: 25px solid var(--primary);
    border-right: 2px solid var(--primary);
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary); */
    border: 2px solid var(--primary);
}

input:focus~.show i {
    color: var(--primary);
}

.password .show>i {
    color: var(--neutral-40);
}

.password {
    position: relative;
}

.password .show {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    /* background-color: var(--primary); */
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    /* color: var(--primary); */
    cursor: pointer;
}

@media screen and (min-width:320px) and (max-width: 500px) {
    /* .container {
        flex-direction: column;
    } */

    .container .form,
    .container .formcs {
        width: 100%;
        height: fit-content;
        bottom: 0;
        top: auto;
    }

    .input {
        padding: 10% 10% 20%;
    }

    .container2 {
        width: 100%;
        /* justify-content: center; */
        /* align-items: center; */
        height: 100vh;
    }

    .container2 .form {
        width: 100%;
        padding: 2% 8% 0px;
    }
}
