:root {
    --primary: hsl(218, 95%, 48%);
    --secondary: hsl(46, 100%, 50%);
    --bg-soft: hsl(200, 100%, 97%);

    --neutral-100: hsl(0, 0%, 100%);
    --neutral-90: hsl(0, 0%, 90%);
    --neutral-80: hsl(0, 0%, 80%);
    --neutral-70: hsl(0, 0%, 70%);
    --neutral-60: hsl(0, 0%, 60%);
    --neutral-50: hsl(0, 0%, 50%);
    --neutral-40: hsl(0, 0%, 40%);
    --neutral-30: hsl(0, 0%, 30%);
    --neutral-20: hsl(0, 0%, 20%);
    --neutral-10: hsl(0, 0%, 10%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: var(--neutral-20);
}

a {
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.white {
    color: white;
}

.box-link {
    display: inline-block;
    padding: 20px 10px;
}

.box-link.active {
    border-bottom: 4px solid var(--primary);
}

.link {
    color: var(--primary);
    text-decoration: underline;
}

.top-navbar {
    position: relative;
    z-index: 98;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 40px;
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-90);
    /* box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.15); */
}

.top-navbar .logo {
    padding: 20px 0px;
    margin-right: 20px;
}

.trigger {
    padding: 10px;
    display: none;
}

section {
    position: relative;
}

section.flex {
    display: flex;
    width: 100%;
}

.flex {
    display: flex;
}

.flex.align-top {
    align-items: start;
}

.flex.align-center {
    align-items: center;
}

.flex.align-bottom {
    align-items: last baseline;
}

.flex-start {
    justify-content: start;
}

.flex-end {
    justify-content: end;
}

.flex-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.fd-column {
    flex-direction: column;
}

.fd-row {
    flex-direction: row;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb40 {
    margin-bottom: 40px;
}

.p5{
    padding: 5px;
}

.p10{
    padding: 10px;
}

.p15{
    padding: 15px;
}

.p20{
    padding: 20px;
}

.p25{
    padding: 25px;
}

.p30{
    padding: 30px;
}

.gap10 {
    gap: 10px;
}

.gap15 {
    gap: 15px;
}

.gap20 {
    gap: 20px;
}

.text-large {
    font-size: xx-large;
}

.text-medium {
    font-size: larger;
}

.text-small {
    font-size: small;
}

.text-bold {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-white {
    color: var(--neutral-100);
}

.text-wrap {
    text-wrap: wrap;
}

.overflow {
    overflow: scroll;
}

.overflow-y {
    overflow-y: scroll;
}

.overflow-x {
    overflow-x: scroll;
}

.w-max {
    width: max-content;
}

.w-fit {
    width: fit-content;
}

.w-100vw{
    width: 100vw;
}

.w-100 {
    width: 100%;
}

.w-50{
    width: 50%;
}

.full-round{
    border-radius: 100px;
}

.text-block {
    display: block;
    width: 100%;
    padding: 40px;
    margin: 40px 0px;
}

.sidebar {
    width: 20%;
    min-width: max-content;
    background-color: var(--neutral-100);
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 2;
    /* box-shadow: 0px 0px 8px 0px hsla(0, 0%, 0%, 0.05); */
    border-right: 1px solid var(--neutral-90);
}

.sidebar a {
    display: block;
    width: 100%;
    padding: 15px 40px;
    /* color: var(--neutral-100); */
    background-color: hsla(218, 95%, 90%, 0);
}

.sidebar .logout {
    display: block;
    width: 100%;
    padding: 15px 40px;
    background: none;
    border: none;
    outline: none;
    font-size: medium;
    cursor: pointer;
    background-color: hsla(348, 83%, 47%, 0);
    color: crimson;
}

.sidebar a:hover {
    background-color: hsla(218, 95%, 90%);
}

.sidebar a.active {
    background-color: hsla(218, 95%, 90%);
    font-weight: bold;
    color: var(--primary);
}

.sidebar .logout:hover {
    background-color: hsla(348, 83%, 47%, 0.15);

}

.content {
    min-width: 80%;
    width: max-content;
    max-width: 100vw;
    min-height: 100vh;
    padding: 20px;
    margin-bottom: 80px;
    position: relative;
    /* background-color: hsla(0, 0%, 97%); */
}

.container-w1 {
    grid-template-columns: 100%;
    margin-bottom: 10px;
    padding-bottom: 25px;
    /* border-bottom: 2px solid var(--neutral-90); */
}

.container-w2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 25px;
    /* border-bottom: 2px solid var(--neutral-90); */
}

.widget1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    width: 100%;
    /* margin-bottom: 40px; */
}

.widget2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    /* margin-bottom: 40px; */
}


.element-title {
    display: block;
    width: 100%;
    padding: 20px 0px;
}

.element-title.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.box {
    padding: 15px;
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-90);
    /* background: linear-gradient(to left top, hsla(218, 95%, 90%, 0.7), white); */
    /* box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.08); */
    border-radius: 8px;
}

.long-box {
    width: 100%;
    /* background: linear-gradient(to left top, hsla(218, 95%, 90%, 0.7), white); */
    /* box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.08); */
    border: 1px solid var(--neutral-90);
    min-height: 130px;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 8px;
}

.box-s {
    width: 100%;
    height: 100%;
    /* background-color: var(--neutral-100); */
    /* background: linear-gradient(to left top, hsla(218, 95%, 90%, 0.7), white); */
    /* box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.08); */
    border: 1px solid var(--neutral-90);
    padding: 15px;
    border-radius: 8px;
}


.box-title {
    display: block;
    width: 100%;
    color: var(--neutral-30);
    border-radius: 8px;
    margin-bottom: 14px;
}

.box-number {
    display: block;
    width: 100%;
    color: var(--neutral-10);
    border-radius: 8px;
}

.menuForm.on {
    display: block;
    width: 100%;
}

.menuForm {
    display: none;
}

.menuCate {
    display: none;
}

.menuCate.on {
    display: block;
    width: 100%;
}

.hidden {
    display: none;
}

.star {
    color: var(--secondary);
}

input {
    border: 1px solid var(--primary);
    background: none;
    outline: none;
    border-radius: 8px;
    padding: 10px;
    display: block;
    width: 100%;
}

.edit-input {
    padding: 10px;
    border: 2px solid var(--primary);
    position: relative;
    /* width: fit-content; */
}

.textarea-edit {
    background-color: var(--neutral-100);
    border-radius: 8px;
    resize: none;
    display: block;
    height: 38px;
    transition: .3s ease-in-out;
}

/* .textarea-edit:focus { */
position: absolute;
z-index: 80;
width: 70vw;
height: 30%;
/* height: 100vh; */
/* top: 50%; */
left: 50%;
transform: translate(-50%, 15%);
}

label {
    cursor: pointer;
}

input:focus,
.textarea1:focus,
.textarea-edit:focus {
    outline: 2px solid hsla(218, 95%, 80%);
}

input:disabled,
textarea:disabled {
    border: 1px solid var(--neutral-80);
}

select option {
    background-color: var(--neutral-100);
}

select:disabled {
    background-color: var(--neutral-90);
    border: 1px solid var(--neutral-70);
    color: var(--neutral-40);
}

.file {
    display: none;
}

/* input[type='submit']{
    background-color: var(--primary);
    color: var(--neutral-100);
}

input[type='submit']:hover{
    background-color: hsl(218, 95%, 80%);
    border: 1px solid hsla(218, 95%, 80%);
} */

.textarea1 {
    display: block;
    width: 100%;
    border: 1px solid var(--primary);
    margin: 10px 0px;
    height: 100px;
    padding: 10px;
    resize: none;
    border-radius: 8px;
    font-size: small;
    /* letter-spacing: 1.1px; */
}

.btn-primary {
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: var(--neutral-100);
    padding: 10px;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    text-wrap: nowrap;
    font-weight: 600;
}

.btn-red {
    background-color: crimson;
    border: 1px solid crimson;
    color: var(--neutral-100);
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
    text-wrap: nowrap;
    font-weight: 600;
    font-size: small;
    /* width: max-content; */
}

.btn-yellow {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--neutral-100);
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
    text-wrap: nowrap;
    font-weight: 600;
}

.btn-blue {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--neutral-100);
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
    font-size: small;
    text-wrap: nowrap;
    font-weight: 600;

}

.check-button {
    color: white;
    display: none;
    /* transform: scale(0) */
}

.check-button.active {
    display: inline;
    /* transform: scale(1); */
}

#myLineChart {
    display: block;
    width: 100%;
}

.order {
    /* width: 100%; */
    /* height: 300px; */
    /* background-color: var(--primary); */
}

.list {
    display: block;
    width: 100%;
    margin-top: 20px;
    /* height: 100px; */
    /* background-color: antiquewhite; */
    /* overflow-y: scroll; */
    /* padding: 10px; */
}

.list-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* margin-bottom: 10px; */
    background-color: var(--neutral-100);
    /* box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.08); */
    border-bottom: 1px solid var(--neutral-80);
    /* border-radius: 8px; */
}

.list-item .name {
    width: 80%;
}

.list-item .order {
    width: max-content;
    text-wrap: nowrap;
}

table {
    border-collapse: collapse;
    text-align: center;
    /* width: 100%; */
    text-wrap: nowrap;
    background-color: var(--neutral-100);

}

table th,
table td {
    padding: 5px;
    border-bottom: 1px solid var(--neutral-70);
}

table th {
    background-color: var(--primary);
    color: var(--neutral-100);
    /* border: 1px solid var(--neutral-100); */
}

table td {
    color: var(--neutral-20);
    /* border: 1px solid var(--neutral-70); */
}

table td img {
    width: 100px;
}

table.p10 th,
table.p10 td {
    padding: 10px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    /* position: relative; */
}

.table {
    width: 100%;
    position: relative;
}

.p10 {
    padding: 10px;
}

.tape {
    position: sticky;
    left: 0;
    z-index: 10;
    background-color: var(--neutral-100);
}

.toptape {
    position: sticky;
    top: 0;
    z-index: 70;
}




@media screen and (min-width:0px) and (max-width: 500px) {

    .trigger {
        display: block;
    }

    .top-navbar {
        padding: 0px 25px;
        position: sticky;
        z-index: 98;
        top: 0;
        width: 100%;
        margin-bottom: 10px;
    }

    section.flex {
        display: block;
        width: 100%;
    }

    .content {
        /* display: block; */
        /* UBAH WIDTH */
        width: 100vw;
        padding: 0px 30px;
    }

    .sidebar {
        position: fixed;
        z-index: 99;
        width: 100%;
        height: 100%;
        background: var(--neutral-100);
        transform: translateX(-100%);
        transition: .3s ease;
    }

    .sidebar.on {
        transform: translateX(0%);
    }

    .sidebar a {
        padding: 15px 35px;
        /* color: var(--neutral-100); */
    }

    .sidebar.on .logout {
        padding: 15px 35px;
    }

    .widget1 {
        grid-template-columns: 100%;
    }

    .widget2 {
        grid-template-columns: auto auto;
    }

    .container-w2 {
        grid-template-columns: 100%;
    }

    .long-box {
        min-height: 100px;
        padding: 10px 20px;
    }

    .table-container {
        width: 100%;
        overflow-x: auto;
    }
}
